.sunfw_section_header {
  background-color: #000;
}
.sunfw_section_content {
  background-image: url("../../../../images/joomlashine/sample/bg-working.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
.sunfw_section_content h1, .sunfw_section_content h2, .sunfw_section_content h3, .sunfw_section_content h4, .sunfw_section_content h5, .sunfw_section_content h6, .sunfw_section_content .h1, .sunfw_section_content .h2, .sunfw_section_content .h3, .sunfw_section_content .h4, .sunfw_section_content .h5, .sunfw_section_content .h6 {
  color: #fff;
}
.sunfw_section_content a {
  color: #fff;
}
.sunfw_section_content-bottom-over {
  background-image: url("../../../../images/joomlashine/sample/bg-contact.jpg");
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: left top;
  color: #fff;
}
.sunfw_section_content-bottom-over h1, .sunfw_section_content-bottom-over h2, .sunfw_section_content-bottom-over h3, .sunfw_section_content-bottom-over h4, .sunfw_section_content-bottom-over h5, .sunfw_section_content-bottom-over h6, .sunfw_section_content-bottom-over .h1, .sunfw_section_content-bottom-over .h2, .sunfw_section_content-bottom-over .h3, .sunfw_section_content-bottom-over .h4, .sunfw_section_content-bottom-over .h5, .sunfw_section_content-bottom-over .h6 {
  color: #fff;
}
.sunfw_section_content-bottom-over a {
  color: #fff;
}
.sunfw_section_footer {
  background-color: #f7f7f7;
  color: #727272;
  font-size: 13px;
  line-height: 1.6;
}
