/* Title */
body {
    font-size: 14px;
}
#sp-main-body {
	padding: 0!important;
}
.sp-megamenu-parent >li.active>a, .sp-megamenu-parent >li:hover>a {
  color: #2c3041;
}
body.itemid-437 #sp-header,
body.itemid-437 #sp-header, #sp-header {
    background: rgba(0, 0, 0, 0.0);
}
.sticky-wrapper.is-sticky #sp-header {
    background-color: #333;
}
#offcanvas-toggler >i {
    color: #ffffff;
}
#lt-title-line {
    width: 50px;
}
.lt-title h6 {
    color: #ffffff;
    padding: 6px 10px 6px;
    margin-top: 0px;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.lt-title h4 {
    text-transform: none;
    letter-spacing: 4px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-bottom: 0px;
}
.lt-title h2 {
    color: #fff;
    font-size: 30px; 
    padding-bottom: 10px;
    margin: 0;
    font-weight: 500;
    text-transform: none;
}
.lt-title-black h2 {
    color: #333;
    font-size: 30px; 
    padding-bottom: 10px;
    margin: 0;
    font-weight: 500;
    text-transform: none;  
}
.lt-title-black p {
    margin: 0;
    color: #333;
    font-size: 14px;
}
.lt-title p {
	margin: 0;
	color: #ffffff;
	font-size: 14px;
}
#lt-general {
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 30px;
    border: 3px solid #ffffff;
}
#lt-general:hover {
    background-color: #fff!important;
}
/* Transition */
h1, h2, h3, h4, h5, h6, i, i:before, i:after  {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition:    all 0.4s ease-in-out;
    -ms-transition:     all 0.4s ease-in-out;
    -o-transition:      all 0.4s ease-in-out;
    transition:         all 0.4s ease-in-out;
}
#sp-header .logo,
#sp-header,
#offcanvas-toggler,
.sp-megamenu-parent >li >a 
#sp-header .logo,
.sticky-wrapper.is-sticky #sp-header,
.sticky-wrapper.is-sticky #offcanvas-toggler,
.sticky-wrapper.is-sticky .sp-megamenu-parent >li >a,
#offcanvas-toggler >i {
    -webkit-transition: 0.7s ease-in-out!important;
    -moz-transition: 0.7s ease-in-out!important;
    -ms-transition: 0.7s ease-in-out!important;
    -o-transition: 0.7s ease-in-out!important;
    transition: 0.7s ease-in-out!important;
}
.sticky-wrapper.is-sticky #sp-header .logo,
.sticky-wrapper.is-sticky #sp-header {
    height: 70px;
}
.sticky-wrapper.is-sticky #offcanvas-toggler,
.sticky-wrapper.is-sticky .sp-megamenu-parent >li >a {
    line-height: 70px;
} 
.sticky-wrapper.is-sticky  #offcanvas-toggler >i {
    margin-top: -5px;
}

/*** General ***/
.lt-title-black h1 {
    font-size: 30px;
}
.lt-title-black h1:after {
    content: '';
    width: 55px;
    height: 3px;
    font-weight: 800;
    background: #333;
    display: block;
    margin-top: 13px;
}
 .lt-title h2:after {
    content: '';
    width: 55px;
    height: 3px;
    right: 90px;
    background: #ffffff;
    display: block;
    margin-top: 13px;
}
#lt-button-black {
    background-color: #ffffff;
    cursor: pointer;
    color: #333;
    padding: 5px 35px;
    font-size: 26px;
    border-radius: 50px;
    border:0px!important;
}
#lt-button-black:hover {
    background: #000000!important;
    color: #ffffff;
}
#lt-button-white {
    cursor: pointer;
    color: #ffffff;
    padding: 5px 35px;
    margin-top:0px!important;
    font-size: 26px;
    border-radius: 50px;
    border:0px!important;

}
#lt-button-white:hover {
    background: #000000!important;
    color: #ffffff;
}
/* Slider */
.lt-slider {
	position: relative;
    top:-90px;
}
.lt-slider .tp-caption a {
	padding: 12px 35px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}
.lt-slider .tp-caption .button {
    padding: 12px 35px;
    font-size: 28px;
    border-radius: 50px;
    text-transform: none;
}
.lt-slider .tp-caption a.button1 {
    background: none!important;
    border: 2px solid #ffffff;
}
.lt-slider .tp-caption a.button1:hover {
    background: #333!important;
    border: 0px;
}
.lt-slider .button:hover {
	background: #222;
}
/* About */
#lt-about h2 {
    font-size: 32px;
    font-weight: 800;
   
}
#lt-divider {
    background-color:#ffffff;
    height: 2px;
    width: 70px;
    float: right;
}
#lt-divider-left {
    background-color:#ffffff;
    height: 2px!important;
    width: 70px;
    float: left;
   margin-bottom: 30px;
}
#lt-about-item {
    width: 23%;
}
#lt-about-item1 {
    padding-top: 60px;
    padding-left: 0px;
}
.lt-title-about p {
   float: right;
}
.lt-team-left p {
float: left;
}
/*** Pricing ***/
#lt-pricing {
    padding-top: 50px;
    padding-bottom: 50px;
}
#lt-pricing .number {
    background-color: rgba(51, 51, 51, 0)!important;
}
#lt-pricing .qx-text-left {
    border-left: 2px solid #ffffff;
    height: 150px;
    padding-top: 10px;
}
#lt-pricing .media-heading,
#lt-pricing .media-content {
    padding-left: 20px;
}
#lt-pricing .block-number {
    padding-top: 50px;
    font-size: 30px;
}

/* Service */
#lt-service .qx-element-blurb {
    margin: 0px;
}
.lt-service-item i {
    padding-top: 10px;
    color: #4486bd;
}
#lt-service .lt-service-item p {
    color:#ffffff;
}
#lt-service .lt-about-item i {
    color: #4486bd;
}
.lt-service-item h3 {
  padding-top:20px;
}
/*** Get Service ***/
#lt-get-service h4 {
    font-size: 22px;
    letter-spacing: 15px;
    font-weight: 300;
}
#lt-get-service h3 {
    font-size: 70px;
    font-weight: 700;   
}

/* Portfolio */
.owl-carousel {
    display: block!important;
}
.projects-filter a {
    font-size: 30px;
}
.lt-portfolio-button:hover {
	color: #fff;
}
.sp-simpleportfolio .sp-simpleportfolio-fieter > ul > li {
	margin: 5px;
}
.project-img img {
    width: 100%;
}
.projects-fieter {
    text-align: center;
    display: inline-block;
}
.projects-fieter ul {
    display: inherit;
    line-height: 43px;
    margin: 0 auto;
}
.projects-fieter ul li {
    line-height: 40px;
    margin: 5px 0;
    display: stetic!important;
    float: left;
}
.projects-fieter a {
    padding: 8px 15px;
    border: 1px solid #fff;
}
.item-page .project-img {
    border: 5px solid #fff;
}
.pp-button {
    color: #fff;
    padding: 12px 40px;
    font-weight: 700;
}
.pp-button:hover {
    color: #fff;
    background: #666;
}
.projects-fieter a {
    width: 200px;
    display: inline-block;
    padding: 0;
    border-radius: 20px;
}
.projects-wrapper .project-img .project-img-extra h4 {
    color: #ffffff;
}
.portfolio-list {
    padding-bottom: 70px;
}
.projects-wrapper .project-img .project-img-extra .project-img-extra-content a {
  color:#fff;
}
/* Blog */
.entry-header h2 a {
    font-size: 30px;
    font-weight: 400;
}
div.sp-module .sp-module-title {
  	font-size: 20px;
    font-weight: 400;
}
.sp-page-title {
    margin-bottom: 50px;
}
.lt-blog div.k2ItemsBlock ul li {
    background: #ffffff;
    padding: 10px;
	width: 32%;
	float: left;
	margin-right: 2%;
	position: relative;
	overflow: hidden;
}
.clearList {
    display: none!important;
}
.lt-blog div.k2ItemsBlock ul li:nth-child(3n) {
	margin-right: 0;
}
.lt-blog div.k2ItemsBlock ul li a {
    display: inherit;
    overflow: hidden;
    font-size: 30px;
    padding-bottom: 15px;
}
.lt-blog div.k2ItemsBlock ul li img {
	width: 100%;
	margin-bottom: 15px!important;
	transition: all .40s linear;
	transform: scale(1.1);
}
.lt-blog div.k2ItemsBlock ul li:hover img {
	transform: rotete(4deg)scale(1.2);
}
.lt-blog ul li .moduleItemDeteCreeted {
	left: 0;
    display: block;
    padding: 5px;
    font-size: 12px;
    font-style: italic;
    color: #333;
}
.lt-blog .lt-portfolio-button {
	margin-top: 0!important;
}
.lt-blog > div > p {
	clear: left;
}
.moduleItemImage img {
    float: left!important;
    width: 100%;
}
/*** subscribe ***/
.lt-subscribe-content table input {
    padding: 20px 90px!important;
    border-radius: 50px;
}
.lt-subscribe-content table .button {
    padding: 10px 30px!important;
    border-color: #fff;
}
.lt-subscribe-content table tr {
    display: inline;
}

/*** Pricing ***/
#lt-pricing .table-heading {
  background:#fff!important;
  font-size:40px;
  font-weight:600;
}
#lt-pricing .table-body {
   background:#fff!important;
}
#lt-pricing .table-heading .description {
  display:none!important;
}
#lt-pricing .table-footer {
  display:none!important;
}
/* Contact */
#lt-contact .qx-icon {
    padding: 20px;
}
.lt-contact-item .qx-icon {
     -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
     transition: all 0.4s ease-in-out 0s; 
}
.lt-contact-item:hover .qx-icon:before {
    -webkit-transform: roteteY(-180deg);
    -ms-transform: roteteY(-180deg);
    transform: roteteY(-180deg);
    display: block; 
    color: #fff!important;
}
.lt-contact-item:hover .qx-icon {
    -webkit-transform: roteteY(-180deg);
    -ms-transform: roteteY(-180deg);
    transform: roteteY(-180deg);
}
.lt-contact-item {
    cursor: pointer;
}
.lt-contact-form label {
    color: #333;
}
.lt-contact-form input {
    border-radius: 0!important;
    height: 25px!important;
    width: 100%;
}
.lt-contact-form textarea {
    height: 100px!important;
    border-radius: 0!important;
    width: 100%;
}
.lt-contact-form button {
    background: none;
    width: 150px;
    height: 50px;
    color: #fff;
    display: block;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #fff!important;
    transition: all .25s linear;
    font-weight: 400;
}
.lt-contact-form button:hover {
    background-color: #333;
    color: #fff;
}

.lt-contact-form button:hover {
    color: #fff!important;
}
/*** page ***/
#lt-testimonial-page-about {
  width:45%;
  margin-right:2%;
}
/* Bottom */
#sp-footer1 {
    text-align: left;
}
#sp-footer2 {
    text-align: right;
}
#sp-bottom {
    background-color: #000!important;
}
#sp-bottom p {
    color: #ffffff;
}
#sp-bottom a {
    color: #ffffff;
}
#sp-bottom h3 {
    color: #ffffff;
}
#sp-bottom2 a {
    color: #fff;
}
#sp-bottom4 .acymailing_introtext {
    color: #ffffff;
}
#sp-bottom4 .inputbox {
  width:100%!important;
}
#sp-bottom4 table.acymailing_form {
    margin:0px;
    float: left;
    margin-top: 12px;
    width: 93%;
}
#sp-bottom4 .acysubbuttons .btn-primary {
  float:left;
}
.btn-primary:hover, .sppb-btn-primary:hover{
  background:#333;
}
/** RESPONSIVE **/
/* Screen min 1199px */
@media (min-width: 1200px) {
	.lt-services-right,
	.lt-about .lt-title {
		padding-left: 60px;
		padding-right: 60px;
	}
}
/* Screen min 1199px */
@media (max-width: 1199px) {
	.lt-services-right,
	.lt-about .lt-title {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (max-width: 1550px) and (min-width: 1200px){
.lt-subscribe-content table input {
    padding: 20px 28px!important;
}
}
/* Screen min 980px and max 1199px */
@media (min-width: 1200px) and (max-width: 1550px) {
	.lt-services-right, .lt-about .lt-title {
	    padding: 30px;
	}
	.lt-services-content h2 {
	    margin-bottom: 10px;
	}
   .lt-subscribe-content table input {
    padding: 20px 45px!important;
  }
  table.acymailing_form {
    text-align: center!important;
}
	
}
/* Screen min 980px and max 1199px */
@media (min-width: 980px) and (max-width: 1199px) {
	.lt-about .lt-title {
		padding-top: 40px;
		padding-bottom: 0!important;
	}
	.lt-services > div {
		width: 100%!important;
	}
   .lt-subscribe-content table input {
    padding: 20px 45px!important;
  } 
  table.acymailing_form {
    text-align: center!important;
}
	
}
/* Screen min 979px and max 781px */
@media (min-width: 768px) and (max-width: 979px) {
  #lt-team-button:after {
    display:none;
  }
    #lt-slider {
      position: relative;
    top:90px!important;
  }
  .lt-subscribe-content table input {
    padding: 20px 45px!important;
  }
  table.acymailing_form {
    text-align: center!important;
}
	
}
/* Screen max 767px */
@media (max-width: 767px) {
	.lt-subscribe > div:first-child {
		padding-bottom: 0!important;
	}
   #lt-slider {
     position: relative;
    top:90px!important;
  }
	.lt-action-title,
	.lt-subscribe > div > div {
		text-align: left;
	}
	.lt-blog div.k2ItemsBlock ul li {
		width: 100%;
		margin-right: 0;
	}
    #lt-team-button:after {
    display:none;
  }
  table.acymailing_form {
    text-align: center!important;
}
}
/* Screen max 480px */
@media (max-width: 480px) {
  #lt-team-button:after {
    right:160px;
  }
  #lt-slider {
    position: relative;
    top:90px!important;
  }
  table.acymailing_form {
    text-align: center!important;
}
	
}
body.com-users #sp-component {
    padding: 40px 70px 70px 70px;
}
/* Improve sub menu dropdown clickable for offcanvas menu */
.offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler.collapsed .open-icon,
.offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler .close-icon {
 float: right;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li .offcanvas-menu-toggler {
 width: 100%;
}