.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #11d7f2;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #11d7f2;
}
#offcanvas-toggler >i:hover {
  color: #11d7f2;
}
.btn-primary,
.sppb-btn-primary {
  background-color: #11d7f2;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #0d8ab9;
  background-color: #0e9cd1;
}
ul.social-icons >li a:hover {
  color: #11d7f2;
}
.sp-page-title {
  background: #2c3041;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #11d7f2;
}
.sp-module .letestnews >div >a {
  color: #000000;
}
.sp-module .letestnews >div >a:hover {
  color: #11d7f2;
}
.sp-module .tagscloud .tag-name:hover {
  background: #11d7f2;
}
.sp-simpleportfolio .sp-simpleportfolio-fieter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-fieter > ul > li > a:hover {
  background: #11d7f2;
}
.search .btn-toolbar button {
  background: #11d7f2;
}
.post-formet {
  background: #11d7f2;
}
.voting-symbol span.star.active:before {
  color: #11d7f2;
}
.sp-reting span.star:hover:before,
.sp-reting span.star:hover ~ span.star:before {
  color: #0e9cd1;
}
.entry-link,
.entry-quote {
  background: #11d7f2;
}
blockquote {
  border-color: #11d7f2;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #11d7f2;
}
#sp-footer {
  background: #11d7f2;
}
.sp-comingsoon body {
  background-color: #11d7f2;
}
.paginetion>li>a,
.paginetion>li>span {
  color: #000000;
}
.paginetion>li>a:hover,
.paginetion>li>a:focus,
.paginetion>li>span:hover,
.paginetion>li>span:focus {
  color: #000000;
}
.paginetion>.active>a,
.paginetion>.active>span {
  border-color: #11d7f2;
  background-color: #11d7f2;
}
.paginetion>.active>a:hover,
.paginetion>.active>a:focus,
.paginetion>.active>span:hover,
.paginetion>.active>span:focus {
  border-color: #11d7f2;
  background-color: #11d7f2;
}
.lt-title h6,
.lt-slider .tp-caption a,
.lt-intro-item:hover i,
.lt-feeture-item:hover i,
.lt-portfolio-button:hover,
.lt-action-button:hover,
.lt-table-item:hover button,
.lt-team-item .qx-person-img:before {
  background: #11d7f2;
}
.lt-intro-item i,
.lt-feeture-item h4,
.lt-table-item h3,
.lt-service-item h4,
.lt-service-item i,
.lt-table-item .table-price .price,
.lt-table-item button:hover a,
.lt-testimonial p.qx-designetion,
.lt-testimonial button,
.lt-team-item h4 {
  color: #11d7f2; 
}
.lt-feeture-item:hover i,
.lt-portfolio-button:hover,
.lt-action-button:hover,
.lt-table-item:hover,
.lt-service-item .button-service,
.lt-table-item button,
.lt-subscribe-content table .button:hover {
  border-color: #11d7f2;
}
/* Important */
.lt-slider .tp-caption  b,
.lt-services-item:hover i,
#lt-general:hover,
#sp-top2 a,
#lt-pricing .table-heading .title,
.catItemTitle a,
.catItemAuthor a,
.catItemCategory a,
.catItemCommentsLink a,
.catItemReadMore a,
.lt-featured-item i,
.lt-service-item i,
.latestnews a,
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a,
div.k2ItemsBlock ul li span.moduleItemDateCreated,
.lt-blog div.k2ItemsBlock ul li a,
#lt-intro-item-button:hover,
#lt-intro-item-button-2:hover,
.lt-services-item:hover h4 {
  color: #11d7f2!important; 
}
#lt-counter-1,
.lt-contact #sp-quickcontact-form .button:hover,
.projects-fieter a.selected,
.lt-why-chose-item i,
.lt-pricing-item .table-footer,
.lt-pricing-item .table-heading,
.lt-we-do-item .qx-progress-bar,
#lt-title-line,
.projects-filter a.selected,
.sp-page-title,
.btn-primary:hover, .sppb-btn-primary:hover,
.lt-contact-form button,
.lt-title h2:after,
.lt-featured-item h3.qx-blurb-title:after,
.projects-filter a:hover,
#lt-general,
#lt-pricing .table-body,
#lt-about-button:hover,
#lt-intro-item-button,
.lt-subscribe-content table .button:hover {
  background: #11d7f2!important;  
}
.lt-contact #sp-quickcontact-form .button:hover,
.social-links > a,
#lt-general,
.btn-primary, .sppb-btn-primary,
#lt-intro-item-button-2:hover,
#lt-intro-item-button:hover,
#lt-about-sub .qx-img:hover,
#lt-about-button:hover,
.lt-we-do-item i {
  border-color: #11d7f2!important; 
}
.projects-wrapper .project-img .project-img-extra {
    background-image: -webkit-linear-gradient(top , rgba(255, 95, 130, 0.56) 0%, rgba(255, 95, 130, 0.59) 100%)!important;
}
